h1{
    background-color: aqua;
    border: dotted;
    border-color: brown;
}
p{
    background-color: aqua;
    border: solid;
    border-color: black;
}
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  gap: 10px;
  background-color:aqua;
  padding: 10px;
}

.grid-container > div {
  background-color: black;
  color: antiquewhite;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}